{% include "header.html" %}
{% load static %}
<div class="md:grid grid-cols-2">
    <div class="">
        <h6 class="text-white ml-8 text-lg pt-44 animate-pulse md:ml-[10%] z-10 relative lg:text-3xl ">hello, It's me</h6>
        <h2 class="text-white ml-8 text-5xl hover:text-6xl duration-700 md:ml-[10%] z-10 relative lg:text-8xl">Asheesh</h2>
        <p class=" text-white justify-center hover:scale-110 duration-500  mb-[20%]  text-sm  text-center mt-[16rem] md:w-[80%] md:mt-16 md:scale-110 lg:mt-[10rem] lg:ml-10 lg:text-3xl relative z-10 md:ml-6">
                        I am a highly skilled Django developer and digital marketing expert with a passion for creating impact and working with like-minded people.
             I have worked with a wide range of clients, from small businesses to startups to large enterprises
        </p>
       


    </div>
    <div class="">
        <img src="{% static  "images/black2.png" %}" class="absolute top-5 scale-75 z-0 md:relative md:-top-20 md: md:border md:border-white md:rounded-full">
        </div>







</div>
